{% for row in csv_data %}
---

apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: class{{ row.GPU_COMPTIME  }}
value: {{ 999999999 - row.GPU_COMPTIME  | int }}
globalDefault: false
preemptionPolicy: Never

---
apiVersion: v1
kind: Pod
metadata:
  name: run-{{ row.RUN }}-job-{{ loop.index }}-{{ row.JOB }}-{{ row.device }}-epoch{{ row.n_epoch }}
spec:
  priorityClassName: class{{ row.GPU_COMPTIME  }}  # Set your PriorityClass name here
  containers:
  - name: c-run-{{ row.RUN }}-job-{{ loop.index }}-{{ row.JOB }}-{{ row.device }}-epoch{{ row.n_epoch }}
    image:  nba556677/train_tasks:template
    imagePullPolicy: Always
    command: ["python", "/app/template/{{ row['JOB'] }}.py", "--n_epoch", "{{ row.n_epoch }}", "--batch_size", "{{ row.batch_size }}", "--wandb_logging", "--exp_name", "{{ row.exp_name }}"]
    env:
    - name: GPU_MEMORY
      value: "{{ row.GPU_MEMORY }}"
    - name: GPU_COMPTIME
      value: "{{ row.GPU_COMPTIME }}"
    - name: CPU_COMPTIME
      value: "{{ row.CPU_COMPTIME }}"
    resources:
      limits:
        # MiB
         aliyun.com/gpu-mem: {{ row.GPU_MEMORY | int }}
  restartPolicy: Never

{% endfor %}